.cover{
    height: 300px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-portfoglio{
    width: 100%;
    padding-top: 10px;
}


.portfoglio{
    background-color: white;
}

.about{
    background-color: aqua;
    height: 200px;
}

.footer{
    height: 500px;
    background-color: black;
}