.ms-bg-green{
    background-color: #23BC9C;
}

header{
    height: 70px;
}

main{
    padding-top: 70px;
}

.ms-avatar-img{
    max-width: 150px;
}




.img-portfoglio{
    width: 100%;
    padding-top: 10px;
}


.portfoglio{
    background-color: white;
}

.contact{
    padding: 30px 0;
}





.footer-top{
    background-color: #3a546c;
    
}

.footer-bottom{
    background-color: #3a546c;
    
}