.cover{
    height: 300px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}


.portfoglio{
    background-color: white;
    height: 400px;
}

.about{
    background-color: aqua;
    height: 200px;
}